body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/masaustu/bg.png);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#auth-container {
  text-align: center;
}

#auth-container form {
  display: inline-block;
  margin: 0 10px;
}

#auth-container p {
  margin-top: 20px;
}
